@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-gray-900;
}

html.dark {
  @apply text-gray-50;
}

@layer utilities {
  .change-text::before {
    content: '';
    animation: change infinite 6s;
  }

  @keyframes change {
    0% {
      content: 'l';
    }
    5% {
      content: 'le';
    }
    10% {
      content: 'lea';
    }
    15% {
      content: 'lear';
    }
    20% {
      content: 'learn';
    }

    30% {
      content: '';
    }

    33.3% {
      content: 'b';
    }
    38.3% {
      content: 'bu';
    }
    43.3% {
      content: 'bui';
    }
    48.3% {
      content: 'buil';
    }
    53.3% {
      content: 'build';
    }

    60% {
      content: '';
    }

    66.6% {
      content: 't';
    }
    71.6% {
      content: 'te';
    }
    76.6% {
      content: 'tes';
    }
    81.6% {
      content: 'test';
    }

    100% {
      transform: translateX(-50%);
      content: '';
    }
  }
}
