@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply text-gray-900;
  @apply bg-orange-50;
  @apply bg-gradient-to-b from-orange-50 to-white;
  scroll-behavior: smooth;
  transition: all 0.5s linear;
  scrollbar-width: 10px;
  scrollbar-color: linear-gradient(to bottom, transparent, var(--scrollbar-color));
  --bg-gradient: linear-gradient(to bottom, #fff8f1, white);
  --scrollbar-color: rgba(11, 80, 155, 0.9);
}

.dark:root {
  @apply text-gray-300 text-opacity-90;
  @apply bg-gray-900;
  @apply bg-gradient-to-b from-[#161922] to-[#111518];
  --bg-gradient: linear-gradient(to bottom, #161922, #111518);
  --scrollbar-color: rgba(200, 250, 255, 0.9);
}

::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: var(--bg-gradient);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, var(--scrollbar-color));
  border-radius: 4px;
}

@layer base {
  .custom-container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .custom-container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .custom-container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .custom-container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .custom-container {
      max-width: 1280px;
    }
  }
}

@layer utilities {
  .animate-text-bounce {
    animation: text-bounce 2s infinite;
  }

  @keyframes text-bounce {
    0%,
    100% {
      transform: translateY(-0.5rem);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .animate-text-pulse {
    animation: text-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  @keyframes text-pulse {
    0%,
    100% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
  }

  .animate-text-change::before {
    content: '';
    animation: change infinite 6s;
  }

  @keyframes change {
    0% {
      content: 'l';
    }
    2% {
      content: 'le';
    }
    4% {
      content: 'lea';
    }
    6% {
      content: 'lear';
    }
    8% {
      content: 'learn';
    }

    30% {
      content: '';
    }

    33.3% {
      content: 'b';
    }
    35.3% {
      content: 'bu';
    }
    37.3% {
      content: 'bui';
    }
    39.3% {
      content: 'buil';
    }
    41.3% {
      content: 'build';
    }

    63% {
      content: '';
    }

    66.6% {
      content: 't';
    }
    68.6% {
      content: 'te';
    }
    70.6% {
      content: 'tes';
    }
    72.6% {
      content: 'test';
    }

    100% {
      transform: translateX(-50%);
      content: '';
    }
  }
}
