@tailwind utilities;

@layer utilities {
  .hide-scrollbar > div > div::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar > div > div {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
